*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav,ul{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    list-style: none;
    margin: 0 10px;
}
a{
    text-decoration: none;
    color: white;
}
img{
    height: 50px;
}

/* Card Styling */
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card {
    width: 250px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: cursive;
}
.card-img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 200px;
}

.card button{
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}